.index {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  height: 80vh;
  width: 80%;
  background-color: slateblue;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: 2px solid white;
  display: flex;
  gap: 10px;
}
.boxa {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
.minheader {
  position: relative;
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.boxa h1 {
  padding: 10px;
  font-size: 40px;
}
.minBoxa {
  position: relative;
  height: 80%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}
.minBoxa p {
  padding: 10px;
}
form {
  position: relative;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputField {
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  outline: none;
  color: white;
}
.inputField::placeholder {
  color: white;
}
form a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}
.logBut {
  padding: 10px 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: none;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.boxb {
  position: relative;
  width: 50%;
  padding: 10px;
  background-image: url("../assets/imga.jpg");
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.SignupBut {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: none;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 655px) {
  .container {
    flex-direction: column;
    height: max-content;
    width: 90%;
  }

  .boxa {
    width: 100%;
  }
  .boxb {
    width: 100%;
  }
  .SignupBut {
    bottom: 0;
  }
  form {
    width: 100%;
  }
}
