header {
  isolation: isolate;
  position: fixed;
  padding: 10px;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #dfdfdf96;
  z-index: 1;
}
.headerLogo {
  height: 50px;
  width: 50px;
}
.logoTitle {
  font-family: "Montserrat", sans-serif;
}
.headerBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logButx,
.logButxb {
  position: relative;
  padding: 12px 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  overflow: hidden;
  text-decoration: none;
  width: 120px;
}

.logButx:active {
  transform: scale(0.96);
}
.logButx:hover {
  transform: translateY(-2px);
}
.logButxb {
  background-color: rgba(225, 225, 225, 0.3);

  color: black;
  border: 2px solid hsl(0deg, 0%, 90%);
  text-decoration: none;
}
.logButxb:active {
  transform: scale(0.96);
}
.logButxb:hover {
  transform: translateY(-2px);
}
.logb {
  text-decoration: none;
  color: black;
}
.index {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  height: 80vh;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: 2px solid white;
  display: flex;
  gap: 10px;
}
.boxa {
  position: relative;
  width: 48%;
  height: 100%;
  border-radius: 10px;
}
.minheader {
  position: relative;
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.boxa h1 {
  padding: 10px;
  font-size: 40px;
}
.minBoxa {
  position: relative;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.minBoxa p {
  padding: 10px;
}
.loginForm {
  position: relative;
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginputField {
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: hsl(0deg, 0%, 90%);
  outline: none;
  color: black;
}
.loginputField::placeholder {
  color: black;
}
form a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  cursor: pointer;
  width: max-content;
}
.logBut {
  padding: 10px 10px;
  font-size: 16px;
  background-color: hsl(0deg, 0%, 90%);
  color: black;
  border-radius: none;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
  transition: 1s;
}
.logBut:hover {
  color: white;
  background-color: black;
}
.boxb {
  position: relative;
  width: 50%;
  background-image: url("../assets/imga.jpg");
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  display: flex;
  align-items: start;
  justify-content: center;
}
.contentContainer {
  position: relative;
  padding: 10px;
  backdrop-filter: blur(15px);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 655px) {
  .container {
    flex-direction: column;
    height: max-content;
    width: 90%;
  }

  .boxa {
    width: 100%;
  }
  .boxb {
    width: 100%;
  }
  .SignupBut {
    bottom: 0;
  }
  form {
    width: 100%;
  }
  .contentContainer {
    border-radius: 10px;
  }
}
